{% extends "getreddit/reddit_base.html "%}
{% block content %}





<form action="results/" method="POST">
  {% csrf_token %}
  <div class="form-group">

    <div id="form" class="container">
<br>
<br>

      <h4 id="centertxt" class="text-uppercase">Search Reddit by Subreddit</h4>
      <h5 id="centertxt"> Search Reddit by Subreddit. Enter a Subreddit and it will return submissions within the subreddit.</h5>
      <br>
      <div class="row">
        <div class="col-sm">
          <a> Subreddit: </a>
          {{ subreddit.user_choice_of_subreddit }}
        </div>
        <div class="col-sm">
          <a> Number of Results: </a>
          {{ subreddit.user_choice_of_results }}
        </div>
        <div class="col-sm">
          <a> Search Method: </a>
          {{ subreddit.user_choice_of_search }}
        </div>
      </div>
      <br>
    <button type="submit" class="btn btn-primary">Search</button>
<br>
<br>


    </div>

  </div>
</form>



<style>
  #form {
    outline-style: solid;
    outline-color: black;
    outline-width: 5px;
  }
</style>




{% endblock content %}
