{% extends "getreddit/reddit_base.html "%}
{% block content %}




<!-- <div class="container">
<a class="btn btn-primary" href="{% url 'reddit_home' %}"> Search Reddit Here</a>
<a class="btn btn-primary" href=""> Search TikTok Here</a>
</div> -->




<div class="container">
    <h4 class="text-uppercase"> Reddit Search Home </h4>
    <br>
    <hr>
    <!-- Row 1 -->
    <div id="buttons" class="row">
      <div class="col-sm">
        <a class="btn btn-primary" href="{% url 'reddit_search_subreddit' %}">Search by Subreddit</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-primary" href="">Search Posts by Username</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-primary" href="{% url 'reddit_user_information'%}">Redditor Search by Username </a>
      </div>
    </div>

    <!-- Row 2 -->
    <hr>
    <!-- <div id="buttons" class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div> -->
  </div>


  <style>

      #buttons  {
          align-items: center;
          text-align: center;
      }

  </style>




{% endblock content %}
