{% extends "getreddit/reddit_base.html "%}
{% block content %}




<form enctype="multipart/form-data" action="results/" method="POST">
  {% csrf_token %}
  <div class="form-group">

    <div id="form" class="container">
<br>
<br>

      <h4 id="centertxt" class="text-uppercase">Subreddit Image Search</h4>
      <h5 id="centertxt"> Pull all images off a given Subreddit. Enter a Subreddit. </h5>
      <h6 id="centertxt"> Note: App will attempt your number of results request but might not match. </h6>
      <br>
      <div class="row">
        <div class="col-sm">
          <a> Enter a Subreddit: </a>
          {{ subreddit_image_search.user_choice_of_subreddit }}

          <a> Number of Results: </a>
          {{ subreddit_image_search.user_choice_of_results }}
<!-- 
          <a> Search Method:</a>
          {{ subreddit_image_search.user_choice_of_search }} -->


        </div>
        </div>

        <div class="col-sm">


      </div>
      <br>
    <button type="submit" class="btn btn-primary">Search</button>
<br>
<br>


    </div>

  </div>
</form>




    






<style>
  #form {
    outline-style: solid;
    outline-color: black;
    outline-width: 5px;
  }
</style>




{% endblock content %}
